
<% if(success && success.length>0){%>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= console.dir(success) %>
    <%= console.dir(success.length) %>
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(error && error.length>0){%>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= console.dir(error) %>
    <%= console.dir(error.length) %>
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>